

<main>
  <div class="container">
    <div class="row">
      <div class="col s7">
        <img src = "/public/assets/images/menu.jpg">
        <br><br>
        
        {{#each burgers}}
          {{#unless devoured}}
            <div>
              <form action="/burgers/" data-id="{{this.id}}" data-notEaten="true">
                {{this.burger_name}}
                <button type="submit" class="devour"  data-id="{{this.id}}"  data-newDevoured="{{this.devoured}}"> 
                  +DEVOUR
                </button>
              </form>
              <br>
            </div>
          {{/unless}}
        {{/each}}
      </div>


      <div class="col s5">
        Burgers Devoured!
        <img src="/public/assets/images/menu2.jpg">
        <br><br>
        {{#each burgers}}
          {{#if devoured}}
            <div>
              <div class='burgerEaten'>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<div class="row">
  <div class="col s12">
    <form action="/burgers" method="POST" class="create-form">
      <input type="text" id="name" name="burger_name" placeholder="+BURGER to Menu">
      <button type="submit" id="burger">+BURGER</button>
    </form>
  </div>
</div>